*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #cb997e;
	text-align: center;
	font-family: "Yanone Kaffeesatz", sans-serif;
}

h1 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 72px;
}

p {
	margin-top: 5px;
}

.buttonReset {
	font-family: "Yanone Kaffeesatz", sans-serif;
	border-radius: 50%;
	background-color: #8d99ae;
	height: 75px;
	width: 100px;
	font-size: 24px;
	border: 2px solid #000;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
}

.center {
	display: flex;
	justify-content: center;
	margin-top: 23px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 123vh;
	height: 70vh;
}

.rows {
	display: flex;
	border-style: solid;
	border-width: 1px;
	height: 100%;
}

.cols {
	width: 100%;
	border-style: solid;
	border-width: 0 1px;
}
